<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="file" id="inpFile">
    <button type="button" id="btnUpload">Upload</button>
    <br><br>
    <textarea id="resultText" placeholder="pdf text will be appear here" style="height: 350px; width: 550px;"></textarea>

    <script>
        const inpFile=document.getElementById('inpFile')
        const btnUpload=document.getElementById('btnUpload')
        const resultText=document.getElementById('resultText')

        btnUpload.addEventListener('click',()=>{
            const formData=new FormData();
            formData.append("pdfFile",inpFile.files[0]);

            fetch("/extract-text",{
                method:"post",
                body:formData
            }).then(response=>{
                return response.text();
            }).then(extractedData=>{
                resultText.value=extractedData.trim()
            });
        });
    </script>
</body>
</html>